@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="movie" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberInStock)
            </th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
    

</table>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#movie").DataTable({
                ajax: {
                    url: "api/Movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "movieName",
                        render: function(data, type, movie) {
                            return `<a href='/Movies/Details/${movie.movieID}'/>${movie.movieName}</a>`;
                        }
                    },
                    {
                        data: "genre.genreName"
                    },
                    {
                        data: "releaseDate"
                    },
                    {
                        data: "numberInStock"
                    },
                ]
            });


        });
    </script>
}